<h1>Login</h1>
<hr>
<div class="col-md-6">
    <form autocomplete="off" #loginForm="ngForm" (ngSubmit)="login(loginForm.value)">
        <div class="form-group" >
            <label for="userName">User Name:</label>
            <input id="userName" type="text" ngControl="userName" 
            class="form-control" required placeholder="User Name..." />
        </div>
        <div class="form-group" >
            <label for="password">Password:</label>
            <input id="password" type="password" ngControl="password"
            class="form-control" required placeholder="Last Name..." />
        </div>
        
        <button type="submit"  
            class="btn btn-primary">Login</button>
        <button type="button" (click)="cancel()" 
            class="btn btn-default">Cancel</button>
    </form>
</div>