<h1>New Event</h1>
<hr>
<div class="col-md-6">
  <form  autocomplete="off" [formGroup]="newEventForm" (ngSubmit)="saveEvent(newEventForm.value)">
    <div class="form-group" [ngClass]="{ 'error' : !newEventForm.controls.name.valid && newEventForm.controls.name.dirty }">
      <label for="eventName">Event Name:</label>
      <em *ngIf="!newEventForm.controls.name.valid && newEventForm.controls.name.dirty">Required</em>
      <input id="name" type="text" formControlName="name" 
          class="form-control" 
          placeholder="Name of your event..." />
    </div>
    <div class="form-group" [ngClass]="{ 'error' : !newEventForm.controls.date.valid && newEventForm.controls.date.dirty }">
      <label for="eventDate">Event Date:</label>
      <em *ngIf="!newEventForm.controls.date.valid && newEventForm.controls.date.dirty">Required</em>
      <div style="position:relative">
        <input id="eventDate" type="text" date-keys 
            formControlName="date" 
            class="form-control" 
            placeholder="format (mm/dd/yyyy)..." />
      </div>
    </div>
    <div class="form-group" [ngClass]="{ 'error' : !newEventForm.controls.time.valid && newEventForm.controls.time.dirty }">
      <label for="eventTime">Event Time:</label>
      <em *ngIf="!newEventForm.controls.time.valid && newEventForm.controls.time.dirty">Required</em>
      <input id="eventTime" type="text" 
          formControlName="time" 
          class="form-control" 
          placeholder="start and end time..." />
    </div>
    <div class="form-group" [ngClass]="{ 'error' : !newEventForm.controls.price.valid && newEventForm.controls.price.dirty }">
      <label for="eventPrice">Event Price:</label>
      <em *ngIf="!newEventForm.controls.price.valid && newEventForm.controls.price.dirty">Required</em>
      <input id="eventPrice" type="text" 
          formControlName="price" 
          type="number" 
          class="form-control" 
          placeholder="event price..." />
    </div>
    <fieldset formGroupName="location">
      <div class="form-group" [ngClass]="{ 'error' : !newEventForm.controls.location.controls.address.valid && newEventForm.controls.location.controls.address.dirty }">
        <label for="address">Event Location:</label>
        <em *ngIf="!isLocationComplete(newEventForm.controls.location)">Required, 2 letter country only</em>
        <em *ngIf="newEventForm.controls.location.controls.country.errors && newEventForm.controls.location.controls.country.errors.pattern && newEventForm.controls.location.controls.country.dirty">Invalid Country</em>
        <input id="address" type="text" 
            formControlName="address" 
            class="form-control" 
            placeholder="Address of event..." />
      </div>
      <div class="row">
        <div class="col-md-6" [ngClass]="{ 'error' : !newEventForm.controls.location.controls.city.valid && newEventForm.controls.location.controls.city.dirty }">
          <input id="city" type="text" 
              formControlName="city" 
              class="form-control" 
              placeholder="City..." />
        </div>
        <div class="col-md-6" [ngClass]="{ 'error' : !newEventForm.controls.location.controls.country.valid && newEventForm.controls.location.controls.country.dirty }">
          <input id="country" type="text" 
              formControlName="country" 
              class="form-control" 
              placeholder="Country..." />
        </div>
      </div>
    </fieldset>
    <div class="form-group" [ngClass]="{ 'error' : !newEventForm.controls.imageUrl.valid && newEventForm.controls.imageUrl.dirty }">
      <label for="imageUrl">Image:</label>
      <em *ngIf="!newEventForm.controls.imageUrl.valid && newEventForm.controls.imageUrl.dirty">Required</em>
      <input id="imageUrl" type="text" formControlName="imageUrl" class="form-control" placeholder="url of image..." />
    </div>

    <img *ngIf="newEventForm.controls.imageUrl.value" [src]="newEventForm.controls.imageUrl.value" />
    <br />
    <br />
    <button type="submit" [disabled]="!newEventForm.valid" class="btn btn-primary">Save</button>
    <button type="button" (click)="cancelEvent()" class="btn btn-default">Cancel</button>
  </form>
</div>