<h1>New Event</h1>
<hr>
<div class="col-md-6">
  <form  autocomplete="off" [ngFormModel]="newEventForm" (ngSubmit)="saveEvent(newEventForm.value)">
    <div class="form-group" [ngClass]="{ 'error' : !name.valid && name.dirty }">
      <label for="eventName">Event Name:</label>
      <em *ngIf="!name.valid && name.dirty">Required</em>
      <input id="eventName" type="text" ngControl="name" class="form-control" placeholder="Name of your event..." />
    </div>
    <div class="form-group" [ngClass]="{ 'error' : !date.valid && date.dirty }">
      <label for="eventDate">Event Date:</label>
      <em *ngIf="!date.valid && date.dirty">Required</em>
      <div style="position:relative">
        <input id="eventDate" type="text" date-keys 
            ng-pattern="/\d\d/\d\d/\d\d\d\d/" ngControl="date" 
            class="form-control" placeholder="format (mm/dd/yyyy)..." />
      </div>
    </div>
    <div class="form-group" [ngClass]="{ 'error' : !time.valid && time.dirty }">
      <label for="eventTime">Event Time:</label>
      <em *ngIf="!time.valid && time.dirty">Required</em>
      <input id="eventTime" type="text" ngControl="time" class="form-control" placeholder="start and end time..." />
    </div>
    <div class="form-group" [ngClass]="{ 'error' : !price.valid && price.dirty }">
      <label for="eventPrice">Event Price:</label>
      <em *ngIf="!price.valid && price.dirty">Required</em>
      <input id="eventPrice" type="text" ngControl="price" type="number" class="form-control" placeholder="event price..." />
    </div>
    <fieldset ngControlGroup="location">
      <div class="form-group" [ngClass]="{ 'error' : !address.valid && address.dirty }">
        <label for="address">Event Location:</label>
        <em *ngIf="!isLocationComplete(newEventForm.controls.location)">Required, 2 letter country only</em>
        <em *ngIf="country.errors && country.errors.pattern && country.dirty">Invalid Country</em>
        <input id="address" type="text" ngControl="address" class="form-control" placeholder="Address of event..." />
      </div>
      <div class="row">
        <div class="col-md-6" [ngClass]="{ 'error' : !city.valid && city.dirty }">
          <input id="city" type="text" ngControl="city" class="form-control" placeholder="City..." />
        </div>
        <div class="col-md-6" [ngClass]="{ 'error' : !country.valid && country.dirty }">
          <input id="country" type="text" ngControl="country" class="form-control" placeholder="Country..." />
        </div>
      </div>
    </fieldset>
    <div class="form-group" [ngClass]="{ 'error' : !imageUrl.valid && imageUrl.dirty }">
      <label for="imageUrl">Image:</label>
      <em *ngIf="!imageUrl.valid && imageUrl.dirty">Required</em>
      <input id="imageUrl" type="text" ngControl="imageUrl" class="form-control" placeholder="url of image..." />
    </div>

    <img *ngIf="imageUrl.value" [src]="imageUrl.value" />
    <br />
    <br />
    <button type="submit" [disabled]="!newEventForm.valid" class="btn btn-primary">Save</button>
    <button type="button" (click)="cancelEvent()" class="btn btn-default">Cancel</button>
  </form>
</div>