<div>
  <div class="row" style=margin-top:10px; *ngFor="let session of sessions">
    <div class="col-md-1">
      
    </div>
    <div class="col-md-10" style="margin-left:10px;">
      <collapsible-well>
        <well-title>
          {{session.name}}
          <i *ngIf="session.voters.length > 3" class="glyphicon glyphicon-fire" style="color:red"></i>
        </well-title>
        <well-body>
          <h6>{{session.presenter}}</h6>
          <span>Duration: {{session.duration}}</span><br />
          <span>Level: {{session.level}}</span>

          <p>{{session.abstract}}</p>
        </well-body>
      </collapsible-well>
    </div>
  </div>
</div>

